{% extends "base.html" %}
{% block title %}
  PrijateliTree - Admin Login
{% endblock title %}
{% block helper_script %}
  <script>
   document.addEventListener('DOMContentLoaded', function() {
     const elem = document.querySelector('#birth_date');
     const instance = M.Timepicker.init(elem, {
       autoClose: true,
       defaultDate:Date.now(),
       format: 'mm/dd/yyyy'
     });
   });
  </script>
{% endblock helper_script %}
{% block content %}
  <form class="row" method="post" action="{{ url_for('confirm_login' }}">
    <div class="s12 m6 input-field outlined">
      <input id="email" name="email" type="email" placeholder=" " maxlength="40">
      <label for="email">Email Address</label>
    </div>
    <div class="s12 m6 input-field outlined">
      <input id="birthdate" name="birthdate_str" type="text" class="datepicker">
      <label for="birthdate">Birthdate</label>
    </div>
    <button class="btn icon-right waves-effect waves-light"
            type="submit"
            value="submit">
      Login<i class="material-icons right">send</i>
    </button>
  </form>
{% endblock content %}
