{% extends "base.html" %}
{% block title %}
  PrijateliTree - Admin Dashboard
{% endblock title %}
{% block helper_script %}
  <script>
    // $(document).ready(function () {
    //   $('#sessions').DataTable();
    //   $('#students').DataTable();
    //   $('#denar-transactions').DataTable();
    //   $('#game-types').DataTable();
    // });
    function cleanParams() {
      // Used to clear the URL of parameters after the banner alert is closed.
      window.history.replaceState(null, '', window.location.pathname);
    }

    const copyToClipboard = async (id) => {
      try {
        await navigator.clipboard.writeText(`${window.location.host}/games/session/${id}`);
      } catch (error) {
        console.error("Failed to copy to clipboard:", error);
      }
    }
  </script>
{% endblock helper_script %}
{% block content %}
  {% if success %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Success:</strong> {{ success }}
      <button type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
              onclick="cleanParams()"></button>
    </div>
  {% endif %}
  <div class="container-fluid">
    <div class="row">
      <div class="offset-md-1 col-md-10 offset-xl-2 col-xl-8 table-container">
        <a class="btn btn-primary btn-sm"
           href='{{ url_for("dashboard_create_session") }}'
           role="button">New Session</a>
        <table id="sessions"
               class="table table-hover table-bordered caption-top text-center">
          <caption>List of Sessions</caption>
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Number of Games</th>
              <th scope="col">Players</th>
              <th scope="col">Copy URL</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% if sessions|length == 0 %}
              <tr class="empty-table">
                <td colspan="4">There are no sessions currently in the system.</td>
              </tr>
            {% endif %}
            {% for s in sessions|sort(attribute='-created_at') %}
              <tr>
                <th>{{ s.id }}</th>
                <td>{{ s.num_games }}</td>
                <td>{{ s.player_string }}</td>
                <td>
                  {% if not s.finished %}
                    <button role="button"
                            class="btn btn-primary btn-sm"
                            onclick="copyToClipboard({{ s.id }})">Copy to Clipboard</button>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="offset-md-1 col-md-10 offset-xl-2 col-xl-8 table-container">
        <table id="students"
               class="table table-hover table-bordered caption-top text-center">
          <caption>List of Students</caption>
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Language</th>
              <th scope="col">Email</th>
              <th scope="col">Grade</th>
              <th scope="col">High School</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% if students|length == 0 %}
              <tr class="empty-table">
                <td colspan="7">There are no students currently in the system.</td>
              </tr>
            {% endif %}
            {% for s in students|sort(attribute='high_school.name, last_name') %}
              <tr>
                <th>{{ s.id }}</th>
                <td>{{ s.first_name }}</td>
                <td>{{ s.last_name }}</td>
                <td>{{ s.language.name }}</td>
                <td>{{ s.email }}</td>
                <td>{{ s.grade_level }}</td>
                <td>{{ s.high_school.name }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="offset-md-1 col-md-10 offset-xl-2 col-xl-8 table-container text-center">
        <table id="denar-transactions"
               class="table table-hover table-bordered caption-top">
          <caption>List of Denar Transactions</caption>
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">User</th>
              <th scope="col">Amount</th>
              <th scope="col">Game ID</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% if transactions|length == 0 %}
              <tr class="empty-table">
                <td colspan="5">There are no denar transactions currently in the system.</td>
              </tr>
            {% endif %}
            {% for t in transactions %}
              <tr>
                <th>{{ t.id }}</th>
                <td>{{ t.user.first_name + ' ' + t.user.last_name }}</td>
                <td>{{ t.amount }}</td>
                <td>{{ t.created_by_game_id }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="offset-md-1 col-md-10 offset-xl-2 col-xl-8 table-container">
        <table id="game-types"
               class="table table-hover table-bordered caption-top text-center">
          <caption>List of Game Types</caption>
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Network</th>
              <th scope="col">Bag</th>
              <th scope="col">Hidden Names</th>
              <th scope="col">Number of Games</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            {% if game_types|length == 0 %}
              <tr class="empty-table">
                <td colspan="5">There are no game types currently in the system.</td>
              </tr>
            {% endif %}
            {% for gt in game_types|sort(attribute='-created_at') %}
              <tr>
                <th>{{ gt.id }}</th>
                <td>{{ gt.network|title }}</td>
                <td>{{ gt.bag }}</td>
                <td>{{ gt.names_hidden }}</td>
                <td>{{ gt.games|length }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}
