{% extends "base.html" %}
{% block title %}
  PrijateliTree - Admin Login
{% endblock title %}
{% block helper_script %}
  <script>
   document.addEventListener('DOMContentLoaded', function() {
     const elem = document.querySelector('#birth_date');
     const instance = M.Timepicker.init(elem, {
       autoClose: true,
       defaultDate:Date.now(),
       format: 'mm/dd/yyyy'
     });
   });
  </script>
{% endblock helper_script %}
{% block content %}
  <form class="row" style="gap: 1em;" method="post">
    <div class="s12 m6 input-field outlined">
      <input id="email" type="email" placeholder=" " maxlength="40">
      <label for="email">Email Address</label>
    </div>
    <div class="s12 m6 input-field outlined">
      <input id="birth_date" type="text" class="datepicker">
      <label for="birth_date">Birthdate</label>
    </div>
  </form>
{% endblock content %}
