<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-language" content="en-us">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% block meta %}
      <meta name="description"
            content="A FastAPI application used to play lab games and collect survey data.">
    {% endblock meta %}
    <title>
      {% block title %}
        Prijateli Tree
      {% endblock title %}
    </title>
    <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="https://cdn.datatables.net/2.0.1/css/dataTables.dataTables.css"
          rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/3.0.0/css/buttons.dataTables.css"
          rel="stylesheet">
    <link href="{{ url_for('static', path='/css/custom.css') }}"
          rel="stylesheet">
    <script type="text/javascript"
            src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', path='/js/jquery-3.7.1.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', path='/js/dataTables/v2/dataTables.js') }}"></script>
    <script type="text/javascript"
            src="{{url_for('static', path='js/dataTables/v2/dataTables.select.js')}}"></script>
    <script type="text/javascript"
            src="{{url_for('static', path='js/dataTables/v2/select.dataTables.js')}}"></script>
    <script type="text/javascript"
            src="{{url_for('static', path='js/dataTables/v2/dataTables.buttons.js')}}"></script>
    <script type="text/javascript"
            src="{{url_for('static', path='js/dataTables/v2/buttons.dataTables.js')}}"></script>
    <script type="text/javascript"
            src="{{url_for('static', path='js/dataTables/jszip.min.js')}}"></script>
    <script type="text/javascript"
            src="{{url_for('static', path='js/dataTables/v2/buttons.html5.min.js')}}"></script>
    {% block helper_script %}
    {% endblock helper_script %}
  </head>
  <body role="document" data-bs-theme="dark">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        {% if user %}
          <a class="navbar-brand" href='{{ url_for("dashboard") }}'>
            <img src="{{ request.url_for('static', path='/images/logo.png') }}"
                 alt="UChicago"
                 height="35">
            <span>Admin Panel</span>
          </a>
          {% if user.role == "super-admin" %}
            <form class="d-flex" action='{{ url_for("add_students") }}'>
              <button class="btn  float-end" type="submit">Add Users</button>
            </form>
            <form class="d-flex" action='{{ url_for("analysis_dashboard") }}'>
              <button class="btn float-end" type="submit">Analysis Dashboard</button>
            </form>
          {% endif %}
          <form class="d-flex" action='{{ url_for("logout") }}'>
            <button class="btn btn-primary float-end" type="submit">Logout</button>
          </form>
        {% endif %}
        {% if not user %}
          <div class="navbar-brand">
            <img src="{{ request.url_for('static', path='/images/logo.png') }}"
                 alt="UChicago"
                 height="35">
            <span>Prijateli Tree</span>
          </div>
        {% endif %}
      </div>
    </nav>
    {% block content %}
    {% endblock content %}
  </body>
</html>
