<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-language" content="en-us">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% block meta %}
      <meta name="description"
            content="A FastAPI application used to play lab games and collect survey data.">
    {% endblock meta %}
    <title>
      {% block title %}
        Prijateli Tree
      {% endblock title %}
    </title>
    <link href="{{ url_for('static', path='/materialize.min.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', path='/custom.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/materialize.min.js') }}">
    {% block helper_script %}
    {% endblock helper_script %}
  </head>
  <body role="document">
    <nav>
      <div class="nav-wrapper">
        <div id="app-logo"></div>
      </div>
    </nav>
    {% block content %}
    {% endblock content %}
  </body>
</html>
