{% extends "base.html" %}
{% block title %}
  PrijateliTree - Create Game
{% endblock title %}
{% block content %}
  {% if error %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>ERROR:</strong> {{ error }}
      <button type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"></button>
    </div>
  {% endif %}
  <div class="container-sm">
    <div class="row">
      <div class="form-container bg-light-subtle col-xs-12 offset-md-1 col-md-10 offset-lg-1 col col-lg-10 offset-xl-3 col col-xl-6">
        <form method="post" action='{{ url_for("create_game") }}'>
          <div class="mb-3 row">
            <label for="game-type" class="col-sm-4 col-form-label">Game Type</label>
            <div class="col-sm-8">
              <select id="game-type" class="form-select form-select-sm" name="game_type">
                {% for gt in game_types|sort(attribute='network, bag') %}
                  <option value="{{ gt.id }}">{{ gt.network|title }} with bag: {{ gt.bag }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="num-rounds" class="col-sm-4 col-form-label">Number of Rounds</label>
            <div class="col-sm-8">
              <input type="number"
                     min="1"
                     step="1"
                     max="50"
                     class="form-control form-control-sm"
                     value="1"
                     id="num-rounds"
                     name="rounds">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="pos-one" class="col-sm-4 form-label">Position One</label>
            <div class="col-sm-8">
              <select id="pos-one" class="form-select form-select-sm" name="pos_one">
                {% for s in students|sort(attribute='last_name') %}
                  <option value="{{ s.id }}">{{ s.first_name|title }} {{ s.last_name|title }} ({{ s.language.abbr }})</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="pos-two" class="col-sm-4 form-label">Position Two</label>
            <div class="col-sm-8">
              <select id="pos-two" class="form-select form-select-sm" name="pos_two">
                {% for s in students|sort(attribute='last_name') %}
                  <option value="{{ s.id }}">{{ s.first_name|title }} {{ s.last_name|title }} ({{ s.language.abbr }})</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="pos-three" class="col-sm-4 form-label">Position Three</label>
            <div class="col-sm-8">
              <select id="pos-three" class="form-select form-select-sm" name="pos_three">
                {% for s in students|sort(attribute='last_name') %}
                  <option value="{{ s.id }}">{{ s.first_name|title }} {{ s.last_name|title }} ({{ s.language.abbr }})</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="pos-four" class="col-sm-4 form-label">Position Four</label>
            <div class="col-sm-8">
              <select id="pos-four" class="form-select form-select-sm" name="pos_four">
                {% for s in students|sort(attribute='last_name') %}
                  <option value="{{ s.id }}">{{ s.first_name|title }} {{ s.last_name|title }} ({{ s.language.abbr }})</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="pos-five" class="col-sm-4 form-label">Position Five</label>
            <div class="col-sm-8">
              <select id="pos-five"
                      class="col-sm-4 form-select form-select-sm"
                      name="pos_five">
                {% for s in students|sort(attribute='last_name') %}
                  <option value="{{ s.id }}">{{ s.first_name|title }} {{ s.last_name|title }} ({{ s.language.abbr }})</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="pos-six" class="col-sm-4 form-label">Position Six</label>
            <div class="col-sm-8">
              <select id="pos-six"
                      class="col-sm-4 form-select form-select-sm"
                      name="pos_six">
                {% for s in students|sort(attribute='last_name') %}
                  <option value="{{ s.id }}">{{ s.first_name|title }} {{ s.last_name|title }} ({{ s.language.abbr }})</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary float-end">Create</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
<form class="d-flex" action='{{ url_for("logout") }}'>
  <button class="float-end btn btn-primary" type="submit">Logout</button>
</form>
