{% extends "base.html" %}
{% block helper_script %}
  <script>
  window.addEventListener("message", receiveMessage, false);

  function receiveMessage(event) {
    if(event.data.includes("End of Survey")){
        console.log("We're getting information across iframe")
        window.location.href = "/games/{{game_id}}/player/{{player_id}}/round"
    }
  }
  </script>
{% endblock helper_script %}
{% block title %}
  PrijateliTree - Survey
{% endblock title %}
{% block content %}
  <div class="container-sm general-container">
    <iframe src="https://uchicago.co1.qualtrics.com/jfe/form/SV_eaqREcRYZgwsuHk"
            title="Pre-survey"
            frameborder="0"
            height="1200px"
            width="1000px"></iframe>    </iframe>
  </div>
{% endblock content %}
