{% extends "base.html" %}
{% block title %}
  PrijateliTree - Game Start
{% endblock title %}
{% block content %}
  <div class="container-sm general-container">
    <h1>Get Ready to Play</h1>
    <h2 class="text-danger">Red</h2>
    <h3>or</h3>
    <h2 class="text-primary">Blue!</h2>
    <form class="row"
          method="post"
          action='{{ url_for("ready") }}'
          style="display: flex;
                 justify-content: center">
      <button class="btn btn-primary" type="submit" value="submit">I'm Ready!</button>
    </form>
  </div>
{% endblock content %}
