{% extends "base.html" %}
{% block title %}
  PrijateliTree - Game Start
{% endblock title %}
{% block content %}
  <div class="container-sm general-container">
    <h1>{{ name }}</h1>
    <h1>{{ text.ready_to_play.get_ready }}</h1>
    <h2 class="text-danger">{{ text.util.red }}</h2>
    <!--MISSING TRANSLATION -->
    <h2>{{text.util.or}}</h2>
    <h2 class="text-primary">{{ text.util.blue }}</h2>
    <div class="w-25 mx-auto">
      <form class="row"
            method="get"
            action='{{ url_for("get_qualtrics", game_id=game_id, player_id=player_id) }}'>
        <button class="btn btn-primary" type="submit" value="submit">{{ text.ready_to_play.im_ready }}</button>
      </form>
    </div>
  </div>
{% endblock content %}
