{% extends "base.html" %}
{% block title %}
  PrijateliTree - View Round
{% endblock title %}
{% block content %}
  {% include "score_header.html" %}
  <div class="container-sm general-container">
    {% if first_round %}
      {{ text.game_first_round.the_computer_chose }}
      <h2>
        Your Ball:
        {% if ball == 'R' %}
          <span class="text-danger">{{ text.util.red }}</span>
        {% elif ball == 'B' %}
          <span class="text-primary">{{ text.util.blue }}</span>
        {% else %}
          {{ ball }}
        {% endif %}
      </h2>
    {% else %}
      <h1>Your Previous Guess</h1>
      <h2>
        {% if previous_answers.your_previous_answer == 'R' %}
          <span class="text-danger">{{ text.util.red }}</span>
        {% elif previous_answers.your_previous_answer == 'B' %}
          <span class="text-primary">{{ text.util.blue }}</span>
        {% else %}
          {{ previous_answers.your_previous_answer }}
        {% endif %}
      </h2>
      <h1>{{ text.game_other_rounds.see_what_others_guessed }}</h1>
      <ul style="list-style: none; padding: 0;">
        {% for index in previous_answers.neighbors_previous_answer %}
          {% set neighbor_answer = previous_answers.neighbors_previous_answer[loop.index-1] %}
          {% set neighbor_name = previous_answers.neighbors_names[loop.index-1] %}
          <li style="font-size: 24px; margin-bottom: 20px;">
            {% if neighbor_answer == 'R' %}
              <span>{{ neighbor_name }}</span><span class="text-danger">{{ text.util.red }}</span>
            {% elif neighbor_answer == 'B' %}
              <span>{{ neighbor_name }}</span><span class="text-primary">{{ text.util.blue }}</span>
            {% else %}
              {{ neighbor_answer }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <h1>{{ text.game_first_round.guess_color }}</h1>
    <!-- Button for 'Red' answer -->
    <form action="{{ url_for('route_add_answer', game_id=game_id, player_id=player_id) }}"
          method="post">
      <div class="d-grid gap-2 d-md-block">
        <button type="submit" name="player_answer" value="R" class="btn btn-danger">{{ text.util.red }}</button>
        <button type="submit" name="player_answer" value="B" class="btn btn-primary">{{ text.util.blue }}</button>
      </div>
    </form>
  </div>
{% endblock content %}
