{% extends "base.html" %}
{% block title %}
  PrijateliTree - View Round
{% endblock title %}
{% block content %}
  <div style="text-align: center;">
    <h1 style="margin-bottom: 30px;">Round: {{ current_round }}</h1>
    {% if first_round %}
      <p style="font-size: 24px; margin-bottom: 20px;">
        Your Ball:
        {% if ball == 'R' %}
          <span class="red_text">Red</span>
        {% elif ball == 'B' %}
          <span class="blue_text">Blue</span>
        {% else %}
          {{ ball }}
        {% endif %}
      </p>
    {% else %}
      <h2 style="margin-bottom: 20px;">Your Previous Guess</h2>
      <p style="font-size: 24px; margin-bottom: 20px;">
        {% if previous_answers.your_previous_answer == 'R' %}
          <span class="red_color">Red</span>
        {% elif previous_answers.your_previous_answer == 'B' %}
          <span class="blue_color">Blue</span>
        {% else %}
          {{ previous_answers.your_previous_answer }}
        {% endif %}
      </p>
      <h2 style="margin-bottom: 20px;">Neighbors' Previous Guesses</h2>
      <ul style="list-style: none; padding: 0;">
        {% for neighbor_answer in previous_answers.neighbors_previous_answer %}
          <li style="font-size: 24px; margin-bottom: 20px;">
            {% if neighbor_answer == 'R' %}
              <span class="red_color">Red</span>
            {% elif neighbor_answer == 'B' %}
              <span class="blue_color">Blue</span>
            {% else %}
              {{ neighbor_answer }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock content %}
