<div class="container-sm general-container">
  <div class="row">
    <div class="col text-start">
      {% if not completed_game %}
        <p style="margin-bottom: 5px;">{{ text.game_first_round.round }}: {{ round_progress }}</p>
      {% endif %}
      {% if practice_game %}
        <p style="margin-bottom: 5px;">{{ text.game_video.game }}: {{ practice_game_progress }}</p>
      {% else %}
        <p style="margin-bottom: 5px;">Real Game: {{ real_game_progress }}</p>
      {% endif %}
    </div>
    <div class="col text-end">
      <p style="margin-bottom: 5px;">{{ player_name }}</p>
      <p style="margin-bottom: 5px;">{{ text.game_video.score }}: {{ player_score }}</p>
    </div>
  </div>
</div>
