{% extends "base.html" %}
{% block title %}
  Self Selected Intro
{% endblock title %}
{% block content %}
  {% include "score_header.html" %}
  <div class="container-sm general-container">
    <div class="pb-4">
      <h2 style="margin-bottom: 40px;">{{ text.different_game_intro.different_version }}</h2>
      <h3>{{ text.different_game_intro.instead_of }}</h3>
    </div>
    <div class="p-5">
      <form method="get"
            action="{{ url_for('view_round', player_id=player_id, game_id=game_id) }}">
        <button class="btn btn-primary" type="submit" value="submit">{{ text.ready_to_play.im_ready }}</button>
      </form>
    </div>
  </div>
{% endblock content %}
