{% extends "base.html" %}
{% block title %}
  Start of Game
{% endblock title %}
{% block content %}
  <div class="container-sm general-container col-md-8 offset-md-2">
    <div class="pb-4">
      <h1>
        {% if game.practice %}
          {{ text.intro_practice.now_you_will_play }}
        {% else %}
          {{ text.ready_to_play.get_ready }}
        {% endif %}
      </h1>
    </div>
    <h3>
      {% if game.practice %}
        {{ text.intro_practice.since_these_rules }}
      {% else %}
        {{ text.real_game_intro.added_points | replace('{X}', game.winning_score) }}
      {% endif %}
    </h3>
    {% if true %}
      {% include "networks.html" %}
    {% endif %}
    <div class="p-5">
      <form method="get"
            action="{{ url_for('view_round', player_id=player_id, game_id=game_id) }}">
        <button class="btn btn-primary" type="submit" value="submit">{{ text.ready_to_play.im_ready }}</button>
      </form>
    </div>
  </div>
{% endblock content %}
