<div class="container-sm general-container">
  <div class="row">
    {% if not completed_game %}
      <div class="col text-start">
        <p style="margin-bottom: 5px;">{{ text.game_first_round.round }}: {{ current_round }} / {{ total_rounds }}</p>
        {% if practice_game %}
          <p style="margin-bottom: 5px;">{{ text.game_video.game }}</p>
        {% else %}
          <p style="margin-bottom: 5px;">Real Game</p>
        {% endif %}
      </div>
    {% endif %}
    <div class="col text-end">
      <p style="margin-bottom: 5px;">{{ player_name }}</p>
      <p style="margin-bottom: 5px;">Score: {{ player_score }}</p>
    </div>
  </div>
</div>
