{% extends "base.html" %}
{% block title %}
  PrijateliTree - Add Students
{% endblock title %}
{% block helper_script %}
  <script>
  function cleanParams() {
      // Used to clear the URL of parameters after the banner alert is closed.
      window.history.replaceState(null, '', window.location.pathname);
    }
  </script>
{% endblock helper_script %}
{% block content %}
  {% if error %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>ERROR:</strong> {{ error }}
      <button type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
              onclick="cleanParams()"></button>
    </div>
  {% endif %}
  <div class="container-sm">
    <div class="row">
      <div class="form-container bg-light-subtle col-xs-12 offset-md-1 col-md-10 offset-lg-1 col col-lg-10 offset-xl-3 col col-xl-6">
        <h1>Upload Students</h1>
        <p>Expects first_name, last_name, qualtrics_id, high_school_id, grade_level and langauge_id</p>
        <form method="post"
              action='{{ url_for("add_students") }}'
              enctype="multipart/form-data">
          <label for="file">Choose a CSV file:</label>
          <input type="file" name="file" accept=".csv" required>
          <br>
          <button type="submit" class="btn btn-primary float-end">Upload Data</button>
        </form>
      </div>
      <div class="form-container bg-light-subtle col-xs-12 offset-md-1 col-md-10 offset-lg-1 col col-lg-10 offset-xl-3 col col-xl-6">
        <h1>Upload Group Assignments</h1>
        <p>Expects a valid user id and group id</p>
        <form method="post"
              action='{{ url_for("add_group_assignments") }}'
              enctype="multipart/form-data">
          <label for="file">Choose a CSV file:</label>
          <input type="file" name="file" accept=".csv" required>
          <br>
          <button type="submit" class="btn btn-primary float-end">Upload Data</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
