{% extends "base.html" %}
{% block helper_script %}
  <script>
function redirectToChoosePlayers() {
  // Get the session ID from the input field
  const sessionId = document.getElementById("session_key").value;

  // Construct the URL with the session ID
  const url = "/games/session/" + sessionId + "/";
  console.log(url)
  // Redirect to the generated URL
  window.location.href = url;
}

function redirectToSession() {
  // Get the session ID from the input field
  const playerId = document.getElementById("player_id").value;
  const gameId =  document.getElementById("game_id").value;

  // Construct the URL with the session ID
  const url = "/games/" + gameId + "/player/" + playerId + "/ready";

  // Redirect to the generated URL
  window.location.href = url;
}

  function cleanParams() {
      // Used to clear the URL of parameters after the banner alert is closed.
      window.history.replaceState(null, '', window.location.pathname);
  }

  </script>
{% endblock helper_script %}
{% block title %}
  PrijateliTree - Access Session
{% endblock title %}
{% block content %}
{% if message %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Message:</strong> {{ message }}
      <button type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
              onclick="cleanParams()"></button>
    </div>
  {% endif %}
  <div class="container-sm flex-container">
    <h1>Welcome.</h1>
    {% if session_key == -1 %}
      <p>Enter the session key.</p>
      <div class="col-sm-4">
        <form>
          <input type="text" id="session_key" name="session_key">
          <br>
          <br>
          <button type="button"
                  onclick="redirectToChoosePlayers()"
                  class="btn btn-primary float-start">Next</button>
        </form>
      </div>
    {% else %}
      <p>Select the name of the student who will sit at this desk.</p>
      <div class="col-sm-4">
        <form>
          <input type="text" id="game_id" value={{ game_id }} hidden>
          <select id="player_id" class="form-select form-select-sm" name="player_id">
            {% for p in players %}<option value="{{ p.id }}">{{ p.user.name_str }}</option>{% endfor %}
          </select>
          <br>
          <br>
          <!--<button type="submit" class="btn btn-primary float-start">Start</button>-->
          <button type="button"
                  onclick="redirectToSession()"
                  class="btn btn-primary float-start">Start</button>
        </form>
      </div>
    {% endif %}
  </div>
{% endblock content %}
