{% extends "base.html" %}
{% block title %}
  PrijateliTree - View Round
{% endblock title %}
{% block helper_script %}
  <script>
document.addEventListener('DOMContentLoaded', function() {
  setTimeout(function() {
    document.getElementById('delayedButtons').style.display = 'block';
  }, 3500); // Change 3000 to however many milliseconds you want to wait
});

function submit(player_answer) {
  // Get the session ID from the input field
  $('#delayedButtons button[name="player_answer"]').each(function() {
    this.disabled = true
  });

  const formData = new FormData();
  formData.append(
    'player_answer',
    player_answer
  )

  fetch('{{ url_for("route_add_answer", game_id=game_id, player_id=player_id) }}', {
          method: 'POST',
          body: formData,
        })
      .then(resp => {
        window.location.href = resp.url
      }) // or, resp.text(), etc
      .catch(error => {
          console.error(error);
      });

}

  </script>
{% endblock helper_script %}
{% block content %}
  {% include "fragments/score_header.html" %}
  <div class="container-sm general-container">
    {% if first_round %}
      {{ text.game.the_computer_chose }}
      <h2>
        {{ text.game.your_ball }}
        {% if ball == 'R' %}
          <span class="text-danger">{{ text.util.red }}</span>
        {% elif ball == 'B' %}
          <span class="text-primary">{{ text.util.blue }}</span>
        {% else %}
          {{ ball }}
        {% endif %}
      </h2>
    {% else %}
      <h1>{{ text.game.your_previous_guess }}</h1>
      <h2>
        {% if previous_answers.your_previous_answer == 'R' %}
          <span class="text-danger">{{ text.util.red }}</span>
        {% elif previous_answers.your_previous_answer == 'B' %}
          <span class="text-primary">{{ text.util.blue }}</span>
        {% else %}
          {{ previous_answers.your_previous_answer }}
        {% endif %}
      </h2>
      <h1>{{ text.game.see_what_others_guessed }}</h1>
      <ul style="list-style: none; padding: 0;">
        {% for index in previous_answers.neighbors_previous_answer %}
          {% set neighbor_answer = previous_answers.neighbors_previous_answer[loop.index-1] %}
          {% set neighbor_name = previous_answers.neighbors_names[loop.index-1] %}
          <li style="font-size: 24px; margin-bottom: 20px;">
            {% if neighbor_answer == 'R' %}
              <span>{{ neighbor_name }}</span><span class="text-danger">{{ text.util.red }}</span>
            {% elif neighbor_answer == 'B' %}
              <span>{{ neighbor_name }}</span><span class="text-primary">{{ text.util.blue }}</span>
            {% else %}
              {{ neighbor_answer }}
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <h1>{{ text.game.guess_color }}</h1>
    <div id="delayedButtons" style="display: none;">
      <div class="d-grid gap-2 d-md-block">
        <button onclick="submit('R')"
                name="player_answer"
                value="R"
                class="btn btn-danger">{{ text.util.red }}</button>
        <button onclick="submit('B')"
                name="player_answer"
                value="B"
                class="btn btn-primary">{{ text.util.blue }}</button>
      </div>
    </div>
  </div>
{% endblock content %}
