{% extends "base.html" %}
{% block helper_script %}
  <script>
    window.history.pushState(null, null, window.location.href);
    window.onpopstate = function () {
      window.history.go(1);
    };
    <!--calls wait again after 2.5 seconds-->
    async function check_all_set() {
      const response = await fetch("/games/{{game_id}}/player/{{player_id}}/all_set");
      const all_set = await response.json();

      if (all_set.ready && ! all_set.game_over) {
          window.location.href = "/games/{{game_id}}/player/{{player_id}}/round";
      } else if (all_set.ready) {
        fetch("/games/{{game_id}}/player/{{player_id}}/update_score", {
          method: 'PUT',
          body: {},
        })
          .then(response => {
            if (!response.ok) {
              throw new Error(`HTTP error! Status: ${response.status}`);
            }
            return response.json();
          })
          .then(data => {
            window.location.href = "/games/{{game_id}}/player/{{player_id}}/end_of_game";
          })
          .catch(error => {
            console.error('Error:', error);
          });
      } else {
        console.log("Other players are not ready, restarting the wait cycle.")
      }
    }

    setInterval(function() { check_all_set();}, 2500);
  </script>
{% endblock helper_script %}
{% block title %}
  PrijateliTree - Waiting
{% endblock title %}
{% block content %}
  {% include "fragments/score_header.html" %}
  <div class="container-sm general-container">
    <h1>{{ text.waiting_screen.waiting }}</h1>
    <br>
    <br>
    <div class="container-sm general-container spin-loader"></div>
  </div>
{% endblock content %}
