.form-container {
    border-radius: 10px;
    margin-top: 50px;
    padding: 30px 10px;
}

div.table-container {
    border-radius: 6px;
    border: 1px solid #b0b6bc;
    margin-top: 20px;
    max-height: 400px;
    overflow-y: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

div.table-container a.btn {
    float: right;
}

tr.empty-table {
    text-align: center;
}

.general-container {
    margin-top: 30px;
    text-align: center;
}

.red_text {
    color: red;
    font-size: 24px;
}

.blue_text {
    color: #007bff;
    font-size: 24px;
}

.red_color {
    color: red;
}

.blue_color {
    color: #007bff;
}
