.form-container {
    margin-top: 50px;
    padding: 30px 10px;
    border-radius: 10px;
}

div.table-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

tr.empty-table {
    text-align: center;
}
