<div class="container-sm general-container">
  <div class="row">
    <div class="col text-start">
      {% if not completed_game %}<p class="mb-4">{{ text.header.round }}: {{ round_progress }}</p>{% endif %}
      {% if practice_game %}
        <p class="mb-4">{{ text.header.practice }}: {{ practice_game_progress }}</p>
      {% else %}
        <p class="mb-4">{{ text.header.official_game }}: {{ real_game_progress }}</p>
      {% endif %}
    </div>
    <div class="col text-end">
      <p class="mb-4">{{ player_name }}</p>
      <p class="mb-4">{{ text.header.score }}: {{ player_score }}</p>
    </div>
  </div>
</div>
